* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

body {
    background-color: #0d161a;
    color: white;
}

#mobile {
    display: none;
    align-items: center;
}

#navbar.active {
    right: 0px;
}

#cmark {
    display: none;
    align-items: center;
}

.margin-top {
    margin-top: 100px;
}

a,
li {
    list-style: none;
    text-decoration: none;
}

/* navigation */
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 100;
    background-color: #0e121df7;
}

.navbar .logo {
    color: white;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.nav-list ul {
    display: flex;
    align-items: center;

}

.nav-list ul a {
    margin: 20px;
    transition: .3s;
    color: white;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.nav-list a:hover {
    color: #0ef;
    cursor: pointer;
}

/* About */
.about {
    padding-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about .left-about h3 {
    font-size: 25px;
}

.about .left-about h1 {
    font-size: 32px;
}

.about .left-about p {
    margin: 10px 0px;
    font-size: 18px;
}

.about .left-about p strong {
    font-size: 20px;
    color: #0ef;
}

.about .left-about p span {
    font-size: 18px;
    font-weight: 600;
}

.about .left-about .icons {
    margin: 20px 0px;
}

.about .left-about .icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    margin: 10px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}

.about .left-about .icons a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;

}

button {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 40px;
    font-size: 16px;
    background: #0ef;
    letter-spacing: 1px;
    border: none;
    text-decoration: none;
    color: #081b29;
    font-weight: 600;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef;
    opacity: 0;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 5px cyan, 0 0 20px cyan;
    color: white;
}

.right-about img {
    border-radius: 50%;
    width: 370px;
    height: 370px;
    box-shadow: 0 0 5px cyan, 0 0 20px cyan;
}

/* About-me */
.profile img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 5px cyan, 0 0 20px cyan;
}

.space {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    margin-left: 250px;
}

.about-me-right {
    width: 100%;
    margin-left: 100px;
}

.about-me h1 span {
    color: #0ef;
}

.about-me h1 {
    text-align: center;
    font-size: 40px;
}

.about-me-right h3 {
    font-size: 25px;
    margin-top: 10px;
}

.about-me-right p {
    line-height: 5.5vh;
    margin-top: 10px;
    width: 70%;
}

.about-me-right button {
    margin-top: 40px;
}

/* Internships */
.intern {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.intern h1 {
    padding-top: 120px;
}

.intern h1 span {
    color: cyan;
}

.container {
    padding: 90px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.intern h1 {
    text-align: center;
    font-size: 50px;
}

.Internship {
    display: flex;
    width: 33%;
    gap: 10px;
}

.Internship div {
    background-color: transparent;
    padding: 20PX;
    font-size: 13px;
    font-weight: 13px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053bdf7;
    /* opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay:3s; */
}

.Internship div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.Internship div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.Internship div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.Internship button {
    margin-top: 20px;
}

.Internship div:hover {
    transform: translateY(-10px);
}

/* Skills */
.skills {
    display: flex;
    flex-direction: column;
}

.skillh {
    margin: auto;
    font-size: 40px;
}

.skillh span {
    color: cyan;
}

/* .container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
} */
.container1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.Technical-bars {
    line-height: 3.5vh;
    margin-left: 20px;
    width: 30%;
}

.Technical-bars .bar {
    font-size: 25px;
    margin: 20px 0px;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 15px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    display: flex;
    animation: slide 0.5s 1s linear forwards;
    animation-delay: 2s;
    opacity: 0;

}

.progress-line .ahtml {
    width: 90%;
    background-color: cyan;
    box-shadow: 0 0 5px cyan;
}

.progress-line .acss {
    width: 60%;
    background-color: cyan;
    box-shadow: 0 0 5px cyan
}

.progress-line .ajs {
    width: 65%;
    background-color: cyan;
    box-shadow: 0 0 5px cyan;
}

.progress-line .apython {
    width: 70%;
    background-color: cyan;
    box-shadow: 0 0 5px cyan;
}

.progress-line .areact {
    width: 55%;
    background-color: cyan;
    box-shadow: 0 0 5px cyan;
}

.progress-line p {
    font-size: 14px;
    margin-top: 5px;
}

.professional .circle1,
.circle2 {
    display: flex;
}

.professional .circle1 {
    gap: 100px;
}

.professional .circle2 {
    gap: 80px;
}

.professional .dot {
    background-color: #081b29 transparent;
    border-radius: 50%;
    display: inline-flex;
    font-size: 14px;
    margin: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 5px cyan, 0 0 5px #fff;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    opacity: 0;
}

.professional .dot1 {
    padding: 40px 30px;
    text-align: center;
    border: 1px solid cyan;
}

.professional .dot2 {
    padding: 40px 10px;
    text-align: center;
    border: 1px solid cyan;
}

.professional .dot3 {
    padding: 40px 10px;
    text-align: center;
    border: 1px solid cyan;
}

.professional .dot4 {
    padding: 40px 30px;
    text-align: center;
    border: 1px solid cyan;
}

/* Project */
.project h1 {
    text-align: center;
    padding: 90px;
}

.iproject {
    display: flex;
}

.iproject .div-1,
.div-2,
.div-3 {
    width: 100%;
    height: 380px;
    border: 1px solid white;
    margin: 10px;
    border-radius: 40px;
    overflow: hidden;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053bdf7;
    /* animation: slideTop 1s ease forwards;
animation-delay: 2s;
opacity: 0; */
}

.iproject img {
    width: 100%;
    z-index: -999;
}

.iproject p {
    z-index: 999;
    text-align: center;
    font-size: 30px;
    color: cyan;
    font-weight: 600;
    margin-top: 20px;
}

.iproject button {
    margin-left: 125px;
    margin-top: 20px;
}

.div-2 img {
    height: 200px;
}

.div-3 img {
    height: 200px;
}

.iproject div:hover {
    transform: translateY(-10px);
}

/* Footer */
footer {
    padding: 100px;
    padding-bottom: 0;
    height: 500px;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col .col1 {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    padding-bottom: 10px;
    /* width: 100%; */
}

.right-footer {
    width: 30%;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow a {
    font-size: 18px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover {
    color: #088178;
}

footer .col a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

.project-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* project */

.project-list {
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.project-list a li {
    list-style:circle;
    color: white;
    padding: 10px;
}
.project-list ul a li:hover{
    color: red;
}
